HTML/EsquemasXML/Factura3/f3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="facturas" type="tipoFacturas"/>
    <xs:complexType name="tipoFacturas">
        <xs:sequence>
            <xs:element name="factura" type="tipoFactura" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tipoFactura">
        <xs:all>
            <xs:element name="datos-emisor" type="tipoDatos"/>
            <xs:element name="datos-cliente" type="tipoDatos"/>
            <xs:element name="detalle-factura" type="tipoDetalle"/>
        </xs:all>
        <xs:attribute name="n_fact" type="xs:ID" use="required"/>
        <xs:attribute name="fecha" type="xs:date" use="required"/>
        <xs:attribute name="moneda" type="xs:string" fixed="Euro"/>
    </xs:complexType>
    <xs:complexType name="tipoDatos">
        <xs:sequence>
            <xs:element name="nombre" type="tipoTexto"/>
            <xs:element name="cif" type="tipoCif"/>
            <xs:element name="telefono" type="tipoTlf"/>
            <xs:element name="poblacion" type="tipoPoblacion"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tipoDetalle">
        <xs:sequence>
            <xs:element name="linea" maxOccurs="15" type="tipoLinea"/>
        </xs:sequence>
        <xs:attribute name="importe" type="tipoPrecio"/>
    </xs:complexType>
    <xs:complexType name="tipoLinea">
        <xs:sequence>
            <xs:element name="descripcion" type="tipoTexto"/>
            <xs:element name="cantidad" type="xs:positiveInteger"/>
            <xs:choice minOccurs="0">
                <xs:sequence>
                    <xs:element name="oferta" type="tipoVacio"/>
                    <xs:element name="descuento" type="tipoPrecio"/>
                </xs:sequence>
            </xs:choice>
            <xs:element name="pvp" type="tipoPrecio"/>
        </xs:sequence>
        <xs:attribute name="codigo-articulo" type="xs:ID" use="required"/>
        <xs:attribute name="tipo" type="tipoTipo"/>
    </xs:complexType>
    <xs:simpleType name="tipoTipo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Libro"/>
            <xs:enumeration value="DVD"/>
            <xs:enumeration value="Varios"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipoTexto">
        <xs:restriction base="xs:string">
            <xs:minLength value="5"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipoCif">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8}-[A-Z]{1}"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipoTlf">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9}"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="tipoPoblacion" mixed="true">
        <xs:attribute name="cod_postal" type="tipoCP"/>
    </xs:complexType>
    <xs:simpleType name="tipoPrecio">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0.01"/>
            <xs:maxInclusive value="999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="tipoVacio"></xs:complexType>
    <xs:simpleType name="tipoCP">
        <xs:restriction base="xs:positiveInteger">
            <xs:minExclusive value="10000"/>
            <xs:maxInclusive value="99999"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>