HTML/EsquemasXML/3 Explicacion/restriccion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="restriccion" type="tipoPersona"/>
    <xs:complexType name="tipoPersona">
        <xs:sequence>
            <xs:element name="datos" type="info"/>
            <xs:element name="comentario" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="nacimiento" type="xs:date" use="required"/><!-- No lo dice pero lo hacemos requerido-->
    </xs:complexType>
    <xs:complexType name="info">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="apellidos" type="xs:string"/>
            <xs:element name="dni" type="tipoDNI"/>
        </xs:sequence>
    </xs:complexType>

    <!-- EXPLICACION DE LAS RESTRICCIONES AÑADIDAS SOBRE EL EJ 3-->
     <xs:simpleType name="tipoDNI">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8}[A-Z|a-z]"/>
        </xs:restriction>
     </xs:simpleType>



</xs:schema>
