HTML/EXAMEN_DTD_JCARLOSTORRALVO/Correccion/biblioteca.dtd

<!ELEMENT biblioteca (libros, autores, editoriales)>
<!ELEMENT libros (libro+)>
<!ELEMENT libro (titulo, precio, fechaPub, revisiones?)>
<!ATTLIST libro
    isbn ID #REQUIRED
    editorial IDREF #REQUIRED
    autores IDREFS #REQUIRED
    >
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ATTLIST precio moneda (euro) #REQUIRED><!-- Obligacion a que lleve atributo moneda-->
<!ELEMENT fechaPub (#PCDATA)>
<!ELEMENT revisiones (revision+)>
<!ELEMENT revision (valoracion, comentario)>
<!ATTLIST revision autor IDREF #REQUIRED>
<!ELEMENT valoracion (#PCDATA)>
<!ELEMENT comentario (#PCDATA)>

<!ELEMENT autores (autor+)>
<!ELEMENT autor (nombre, apellido, email?)>
<!ATTLIST autor nif ID #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT email (#PCDATA)>

<!ELEMENT editoriales (editorial+)>
<!ELEMENT editorial (oficina, web)>
<!ATTLIST editorial nombre ID #REQUIRED>
<!ELEMENT oficina (#PCDATA)>
<!ELEMENT web (#PCDATA)>
