HTML/EsquemasXML/Cartelera/cartelera.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cartelera" type="tipoCartelera"/>

    <xs:complexType name="tipoCartelera">
        <xs:sequence>
            <xs:element name="película" type="tipoPelícula" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tipoPelícula">
        <xs:sequence>
            <xs:element name="título" type="xs:string"/>
            <xs:element name="título_original" type="xs:string" minOccurs="0"/>
            <xs:element name="nacionalidad" type="xs:string"/>
            <xs:element name="género" type="xs:string"/>
            <xs:choice>
                <xs:element name="clasificación" type="tipoClasificacion"/>
                <xs:element name="sin_clasificar" type="tipoVacio"/>
            </xs:choice>
            <xs:element name="sinopsis" type="xs:string"/>
            <xs:element name="director" type="xs:string"/>
            <xs:element name="reparto" type="tipoReparto"/>
            <xs:element name="web" type="xs:string" minOccurs="0"/>
            <xs:element name="cartel" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="código" type="xs:ID" use="required"/>
        <xs:attribute name="duración" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="año" type="xs:positiveInteger" default="2003"/>
    </xs:complexType>

    <xs:complexType name="tipoReparto">
        <xs:sequence>
            <xs:element name="actor" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Complextypes del choice-->
    <xs:complexType name="tipoClasificacion">
        <xs:attribute name="edad" type="tipoEdad"/>
    </xs:complexType>
    
    <xs:simpleType name="tipoEdad">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tp"/><!-- xs:pattern value?"(tp|8|12|16|18)"-->
            <xs:enumeration value="8"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="tipoVacio"></xs:complexType>
</xs:schema>